@font-face 
{font-family: Roboto-Regular;
src: url('font/Roboto-Regular.ttf') format('truetype');}

@font-face 
{font-family: Roboto-thin;
src: url('font/Roboto-thin.ttf') format('truetype');
}

@font-face 
{font-family: beauty;
src: url('font/Beauty.ttf') format('truetype');
}

@font-face 
{font-family: geo;
src: url('font/Geo.ttf') format('truetype');
}

@font-face 
{font-family: champagne;
src: url('font/Champagne.ttf') format('truetype');
}


 
 
 
         
              
/*------------NAVBAR STYLE------------------------*/
        .nav-link { 
          margin-right: 15px;
          color: white;
          margin-top: 0px;
          margin-left:0px;
          margin-bottom: 0px;
          text-align: left;
      
          }

        .navbar-toggler-icon {
          background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00'); /*hamburger*/
        }


        .dropdown-item {
          color: black;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 8pt;
        }
        
       .dropdown-divider {background-color: #808080; }

      

        #ladolcevita {
          color: white !important; 
          margin-left:15px; 
          margin-right:15px; 
        }
        
        .navbar {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif;
          font-size: 8pt;
          letter-spacing: 2.5px;
          border-radius: 0px !important;
          margin-bottom: 0px !important;
          }

       .navbar li{
       	  padding: 0px !important;
       }

          #article-button {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
            letter-spacing: 2.5px; 
            font-size: 8pt; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px; 
            margin: 0px;
          }

.logo {
  height: 25px;
  width: 25px;
}















/*-----------------FOOTER STYLE-----------------*/
          
          .footer { 
            position:static;
            left: 0;
			bottom:0;
            width: 100%;
            background-color: #000000;
            color: white;
            text-align: center;
            font-family: Helvetica, Arial, sans-serif;
            padding: 5px;
            letter-spacing: 2.5px;
            font-size: 11px;
            padding-top: 15px; 
            padding-bottom: 3px;
            height: auto !important; 
                }
          

          /*loghi del footer*/
          .toindex {
            max-width: 100%;
            height: auto;
            width:30px;
            margin-top:0px;
            margin-bottom: 10px;
            filter: none;
            border: none;
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
          } 
          
          #logos{
            text-align: center;
          }

           .copyright {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
            letter-spacing: 2.5px; 
            font-size: 11px; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px;
          }
		  
		  .copyright p{color: white;
		  font-size:10px;}

          .foot-menu {
            cursor: pointer;
            font-size: 11px;
          }

          .modal-body p{
            font-family: Helvetica, Arial, sans-serif;
          }

          .modal-body a{
            font-family: Helvetica, Arial, sans-serif;
            color: black;
          }


          /*FORM IN FOOTER*/

          .button-form {
            background-color: #000000; 
            font-family: Helvetica, Arial, sans-serif; 
			background-color:transparent;
            letter-spacing: 2.5px; 
            font-size: 11px; 
            border: none; 
            color: #808080; 
            padding-left: 0px; 
            padding-right: 0px;
          }

          .modal-title{
            font-family: Helvetica, Arial, sans-serif;
          color: black;
          }


          /* Style inputs */
          input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
          }

          input[type=submit] {
            background-color:transparent;
            color: black;
            border: none;
          }

          input[type=submit]:hover {
            background-color: transparent;
          }
		
          /* contact section */
          .container-modal {
            background-color:white;
            padding: 10px;
		
          }
		  
		  .modal-dialog{margin-left:auto;
		  margin-right:auto;}
			
          .column {
            width: 100%;
            margin-top: 6px;
            padding: 20px;
            font-family: Helvetica, Arial, sans-serif;
            color: black;
          }

          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }











/*-------------VERTICAL TIMELINE---------*/

	.page-background {
          	background-image: url("images/film_strip_page.png");
          	background-size: 100% 100%;
						background-repeat: no-repeat;
						opacity:0.5;
          }

    .container {
	    	padding-top: 100px;
	    	padding-bottom: 100px;
	    }

	.timeline-panel {
			background-color: #F6F6F6;
		}

	.timeline {
			list-style: none;
			padding: 20px 0 20px;
			position: relative;
			margin-left: 150px;
			margin-right: 150px;
					}
					
	.timeline:before {
			top: 0;
			bottom: 0;
			position: absolute;
			content: " ";
			width: 3px;
			background-color: #eeeeee;
			left: 50%;
			margin-left: -1.5px;
					}
					
	.timeline > li {
			margin-bottom: 20px;
			position: relative;
					}
					
	.timeline > li:before,
	.timeline > li:after {
			content: " ";
			display: table;
					}
					
	.timeline > li:after {
			clear: both;
					}
					
	.timeline > li:before,
	.timeline > li:after {
			content: " ";
			display: table;
					}
					
	.timeline > li:after {
			clear: both;
					}
					
	.timeline > li > .timeline-panel {
			width: 46%;
			float: left;
			border: 1px solid #d4d4d4;
			border-radius: 2px;
			padding: 20px;
			position: relative;
			-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
					}
					
	.timeline > li > .timeline-panel:before {
			position: absolute;
			top: 26px;
			right: -15px;
			display: inline-block;
			border-top: 15px solid transparent;
			border-left: 15px solid #ccc;
			border-right: 0 solid #ccc;
			border-bottom: 15px solid transparent;
			content: " ";
					}
					
					
	.timeline > li > .timeline-panel:after {
			position: absolute;
			top: 27px;
			right: -14px;
			display: inline-block;
			border-top: 14px solid transparent;
			border-left: 14px solid #F6F6F6;
			border-right: 0 solid #F6F6F6;
			border-bottom: 14px solid transparent;
			content: " ";
					}
					
	.timeline > li > .timeline-badge {  /*per modificare i pallini della timeline*/
			color: black;
			width: 60px;
			height: 60px;
			line-height: 50px;
			font-size: 1.4em;
			text-align: center;
			position: absolute;
			top: 16px;
			left: 49.6%;
			margin-left: -25px;
			background-color:white;
			z-index: 100;
			border-top-right-radius: 50%;
			border-top-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
					}
					
					.timeline > li.timeline-inverted > .timeline-panel {
						float: right;
					}
					
					.timeline > li.timeline-inverted > .timeline-panel:before {
						border-left-width: 0;
						border-right-width: 15px;
						left: -15px;
						right: auto;
					}
					
					.timeline > li.timeline-inverted > .timeline-panel:after {
						border-left-width: 0;
						border-right-width: 14px;
						left: -14px;
						right: auto;
					}
					
					
					
					.item {
									background-image: url("images/item.png");
									background-size: cover;
								}

								.ermodel{
									background-image: url("images/ermodel.png");
									background-size: cover;
								}

								.analysis{
									background-image: url("images/analysis.png");
									background-size: cover;
								}

								.aligment {
									background-image: url("images/aligment.png");
									background-size: cover;
								}

								.theoretical {
									background-image: url("images/theoretical.png");
									background-size: cover;
								}

								.conceptual{
									background-image: url("images/conceptual.png");
									background-size: cover;
								}

								.description {
									background-image: url("images/description.png");
									background-size: cover;
								}

								.rdf {
									background-image: url("images/rdf.png");
									background-size: cover;
								}

								.connection {
									background-image: url("images/connection.png");
									background-size: cover;
									}


					
					.timeline-title {
						margin-top: 0;
						color: inherit;
					}
					
					.timeline-body > p,
					.timeline-body > ul {
						margin-bottom: 0;
					}
					
					.timeline-body > p + p {
						margin-top: 5px;
					}


@media (max-width: 767px) {
									ul.timeline:before {
											left: 40px;
									}

									ul.timeline > li > .timeline-panel {
											width: calc(100% - 90px);
											width: -moz-calc(100% - 90px);
											width: -webkit-calc(100% - 90px);
									}

									ul.timeline > li > .timeline-badge {
											left: 15px;
											margin-left: 0;
											top: 16px;
									}

									ul.timeline > li > .timeline-panel {
											float: right;
									}

											ul.timeline > li > .timeline-panel:before {
													border-left-width: 0;
													border-right-width: 15px;
													left: -15px;
													right: auto;
											}

											ul.timeline > li > .timeline-panel:after {
													border-left-width: 0;
													border-right-width: 14px;
													left: -14px;
													right: auto;
											}

						

							.container {padding-top: 0px;
								padding-bottom: 0px;}


							.timeline {
								margin-left: 150px;
								margin-right: 150px;
							}
							}








/*-------------------TABLE--------------------*/
					table {
						border:solid;
						border-width: thin;
						box-sizing: border-box;
						margin-top:20px;
					}
					
					

					tr { 
						border:solid;
						border-width: thin;
						margin-top: 10px;
						margin-bottom:10px;
						font-family:geo;
						margin-top: 20px;
						margin-bottom:20px;
						height:40px;
					}

					th {
						text-align:center;
						font-family: champagne;
						text-transform: uppercase;
						font-size:20px;
						color: #a64d46;
						height: 60px;
						background-color: #e2bfbc;
					}

					th .table-link {
						text-align:center;
						font-family: champagne;
						text-transform: uppercase;
						font-size:20px;
						color: #a64d46;
						height: 60px;
					}

					td{
						border:solid;
						border-width: thin;
						word-wrap: break-word;
						text-align:center;
						width: 500px;

					}

					tr:hover {
						background-color:	#f2e1e0;
					
					}

					.title-table {
						font-family: champagne;
						color:#a64d46;
						font-size: 30px;
						margin-top: 50px;
					
					}







#workflow {
		font-family:Roboto-Regular;
		text-align: center;
		text-transform: uppercase;
		color:#CDBFA6;
		margin-top: 20px;
		margin-bottom: 20px;
	}				

					
.new-chapter {
	font-family:Roboto-Regular;
	font-size:40px;
	text-align: center;
	text-transform: uppercase;
	color:#CDBFA6;
	margin-top: 20px;
	margin-bottom: 20px;
}					


.timeline-title {
	font-family:Roboto-Regular !important;
	color:#CDBFA6 !important;
	margin-top: 20px;
	margin-bottom: 20px;

}

p {
	font-family:geo;
	font-size: 20px;
	line-height:30px;
	color:black;
}


.project-overview {
	padding-top: 50px;
	padding-bottom: 50px;
}


.center-fit {
	padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#title{
	font-family: beauty;
	font-size:13vw;
	color:white;
  position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 150px;
}


#subtitle{
	font-family: geo;
	font-size: 1.5vw;
	color:white;
	position: absolute;
  top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 200px;
	letter-spacing: 3px;
}


/*media query per title and subtitle*/
/* smaller phone viewpoints */

@media (max-width: 320px) { #title{     
	font-size: 11vw;
    padding-top: 0px;
    top: 20%;

}}
@media (max-width: 320px) { #subtitle{
	top: 16%;
    padding-top: 70px;	
}}
@media (width: 375px) { #title{     font-size: 10vw;
    padding-top: 140px;
    top: 10%;
}}
@media (width: 375px) { #subtitle{
	top: 16%;
    padding-top: 85px;
}}

/* mall devices and most phones */
@media (width:425px) { #title{ 
	top: 20%;
    padding-top:60px;
}}

@media (width:425px) { #subtitle{ 
	top: 20%;
    padding-top: 80px;
}}
 
/* Small devices (tablets, 768px and up) */
@media (width: 768px) { #title{     font-size: 12vw;
    padding-top: 170px;
    top: 40%;
}}

@media (width: 768px) { #subtitle{ 
    padding-top: 196px;
    top: 40%;
}}







/*----------STILE PER PROJECT PAGE-----------*/
.contenitore {
	margin-left: 80px;
	margin-right:80px;
}

.paragraph {
	margin-top:40px !important;
	
}

.title-paragraph {
	font-family:Roboto-Regular !important;
	font-size:40px;
	text-align: center !important;
	text-transform: uppercase !important;
	color:#CDBFA6 !important;
}

.subtitle-paragraph {
		font-family: champagne;
		color:#a64d46;
		font-size: 30px;
		margin-top: 50px;
}

.table-link{
	color:black;
}

.table-link a:active {
color:black;
}

.table-link a:visited {
color: black;
}

 .table-link a:hover{
	color: black;
	text-decoration: none;
}

.erdiagram {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 55%;
	}


/*------TEAM------------*/
/*TEAM*/
#title-team{
	font-family:Roboto-Regular !important;
	font-size:40px;
	text-align: center !important;
	text-transform: uppercase !important;
	color:#CDBFA6 !important;
	margin-top:20px;
}


.description-team{ 
	margin-left:40px;
	margin-right:4px;}

.container-team{
	margin-left:100px;
	margin-right: 100px;
	padding-bottom:50px;
	padding-top:50px;
}

.card{
	border-color:transparent;}